@font-face {
    font-family: 'Museo Sans Cyrl';
    // src: url("C:/Users/Akim/Documents/FRONT-END/GitHub/Repositories/Calculator/src/fonts/MuseoSansCyrl.ttf") format("truetype");
    src: url("./../../src/fonts/MuseoSansCyrl.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
