// Цвета
$app-background: #ff9699;
$buffer-color: #ffa8ab;
$calculator-color: linear-gradient(141deg, rgba(5,82,141,1) 0%, rgba(0,103,178,1) 48%, rgba(0,120,206,1) 100%);
$dividing-line-color: #6c9ccb;
$text-color: #f2f2f2;
$text-color-modified: #025999;
$button-color: transparent;
$button-hover-color: #337bbc;
$button-pressed-color: #ffffff;