// Цвета
$app-background: #ff9699;
$buffer-color: #ffa8ab;
$calculator-color: linear-gradient(132deg, rgba(7,83,143,1) 0%, rgba(7,83,143,1) 50%, rgba(7,83,143,1) 100%);
$dividing-line-color: linear-gradient(90deg, rgba(106,148,190,1) 0%, rgba(110,156,203,1) 100%);
$text-color: #f2f2f2;
$text-color-modified: #025999;
$button-color: transparent;
$button-hover-color: linear-gradient(132deg, rgba(52,122,187,1) 0%, rgba(51,123,189,1) 50%, rgba(51,123,189,1) 100%);
$button-pressed-color: #ffffff;